body {
  height: 100%;
  background-color: black;
  color: #01f8f4ff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  position: relative;
  flex-direction: row;
  z-index: 10;
  color: #01f8f4ff;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.85rem, 2.5vw, 1.5rem);
}

.logo {
  width: clamp(5px, 20vw, 190px);
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.7rem, 2.5vw, 2rem);
  padding: 0;
  margin: 0;
}

.nav-link {
  color: #01f8f4ff;
  text-decoration: none;
}

.nav-link[aria-current='page'] {
  text-decoration: underline;
}

.footer {
  position: fixed;
  background-color: black;
  bottom: 0;
  left: 0;
  z-index: 12;
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: clamp(0.8rem, 1vw, 2rem);
}

.footericons {
  display: flex;
  gap: 10px;
  padding: 5px 5px;
  margin-right: 1px;
  margin-bottom: 5px;
  width: clamp(6rem, 1vw, 4rem);
}

.introduction {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 3vw, 5rem);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutme {
  justify-self: unset;
}

.aboutme p {
  width: 85vw;
  max-width: 53dvw;
  min-width: 325px;
}

.skill-logos {
  justify-content: center;
  display: block;
  padding-bottom: 50px;
  text-align: center;
  width: 85dvw;
  max-width: 60dvw;
  min-width: 375px;
}

.skill-logos img {
  display: inline-block;
  min-width: 40px;
}

.icon {
  padding: 5px 30px;
  width: clamp(5px, 5vw, 60px);
}

.introname {
  background-color: #01f8f4ff;
  color: black;
  font-weight: 600;
  border-radius: 10px;
}

.playbutton {
  width: clamp(10px, 8vw, 100px);
}

.logofooter {
  width: 30%;
  height: auto;
}
