body {
  background-color: rgb(14, 14, 14);
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  z-index: 10;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
