body {
  height: 100%;
  background-color: black;
  color: #01f8f4ff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  position: relative;
  flex-direction: row;
  z-index: 10;
  color: #01f8f4ff;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.75rem, 2.5dvw, 1.5rem);
  flex-shrink: 0;
}

.logo {
  width: clamp(5px, 20vw, 110px);
  display: block;
  transform: translateZ(0);
}

.logo-wrapper {
  padding-left: 2rem;
  padding-top: 1rem;
  display: inline-block;
  transform: translateZ(0);
  will-change: transform;
  flex-shrink: 0;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.7rem, 2.5dvw, 2rem);
  padding: 0;
  margin: 0;
}

.nav-link {
  color: #01f8f4ff;
  text-decoration: none;
}

.nav-link[aria-current='page'] {
  text-decoration: underline;
}

.footer {
  position: fixed;
  background-color: black;
  bottom: 0;
  left: 0;
  z-index: 12;
  padding-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: clamp(0.8rem, 1dvw, 2rem);
}

.footericons {
  display: flex;
  gap: 10px;
  padding: 5px 5px;
  margin-right: 1px;
  margin-bottom: 5px;
  width: clamp(6rem, 1dvw, 4rem);
}

.introduction {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 3dvw, 5rem);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutme {
  justify-self: unset;
}

.aboutme p {
  width: 85dvw;
  max-width: 53dvw;
  min-width: 355px;
}

.skill-logos {
  justify-content: center;
  display: block;
  padding-bottom: 50px;
  text-align: center;
  width: 85dvw;
  max-width: 60dvw;
  min-width: 400px;
}

.skill-logos img {
  display: inline-block;
  min-width: 40px;
}

.icon {
  padding: 5px 30px;
  width: clamp(5px, 5dvw, 60px);
}

.introname-background {
}

.introname {
  background-color: #01f8f4ff;
  color: black;
  font-weight: 600;
  border-radius: 10px;
}

.playbutton {
  width: clamp(10px, 15dvw, 100px);
  cursor: pointer;
  opacity: 0;
}

.portfolio {
  width: 100%;
  overflow: hidden;
}

.portfolio-title {
  width: 100%;
  text-align: center;
}

.pages {
  width: clamp(100px, 85dvw, 25dvw);
  max-height: 60dvh;
  border: 2px solid;
  border-radius: 16px;
  background: #000;
  padding: 0.1rem 7rem;
  position: relative;
  margin: 0 auto;
  transition: all 0.4s ease;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.page-title {
  width: fit-content;
}

.cachemunklogo {
  border: 2px solid;
  border-color: #01f8f4;
}

.cachemunk-description {
  font-size: 0.77rem;
  text-align: center;
  grid-row: s;
  flex-wrap: wrap;
}

.reference {
  width: 40px;
  padding: 0rem 1rem;
}

.techstack-made {
  font-size: 0.8rem;
  text-align: center;
}

.techlogo {
  width: 30px;
  padding-right: 0.7rem;
}

.nav-container {
  width: fit-content;
}

.nav-reel {
  margin: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: fit-content;
}

.reel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: left;
  list-style: none;
  line-height: 0;
}

.reel.end {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #01f8f4;
  border-radius: 50%;
  font-weight: bold;
}

.arrow {
  transform: translateY(-2px);
}

.contact-page {
  background-image: url('./components/assets/joshuatree.png');
  max-height: 55%;
  width: 90%;
  top: 50%;
  left: 50%;
  max-width: 1000px;
  position: absolute;
  transform: translate(-50%, -50%);
  min-height: 70%;
  z-index: 1;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: #000;
  box-shadow: 0.25em 0.25em 0.9em #01f8f4, 0.125em 0.125em 0.4em #01f8f4;
  border-radius: 12px;
}

.contact-form {
  transform: tranlate(0px, 0px);
  opacity: 0.6;
  max-width: 375px;
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  backdrop-filter: blur(10px);
}

.contact-title {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.tsparticles {
  opacity: 0;
}

.logofooter {
  width: 30%;
  height: auto;
}
